{% load static %}
{% load widget_tweaks %}

<html>

<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ورود</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">ورود</p>
    <form class="form1" method="POST">{% csrf_token %}
		{% for error in form.non_field_errors %}
				<div class="error" dir="rtl">
					<strong>{{ error | escape }}</strong>
					<hr>
				</div>
		{% endfor %}

		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %} 
					<div class="error" dir="rtl">
						<strong>{{ error | escape }}</strong>
						<hr>
					</div>
				{% endfor %}
			{% endfor %}
		{% endif %}

      {{ form.email | add_class:"un" | attr:"placeholder:ایمیل"}}
      {{ form.password | add_class:"pass" | attr:"placeholder:گذرواژه"}}
	  <label for="remember_me"> منو یادت باشه </label>
	  <p> {{ form.remember_me | attr:"align:center" }} </p>

      <input class="submit" align="center" type="submit" value="ورود">

      <p class="forgot" align="center"><a href="{% url 'account:password_reset' %}">گذرواژه تان را فراموش کردید؟</p>      
    </div>
     
</body>

</html>